<header class="fixed top-0 left-0 w-full bg-white shadow z-30">
	<nav class="flex items-center justify-between flex-wrap py-4 sm:py-8 px-4 sm:px-8 max-w-6xl mx-auto">
	  <a class="flex flex-col text-left flex-no-shrink text-green-500 mr-6 no-underline" href="{{ "/" | relative_url }}">
			<span class="font-semibold text-xl tracking-tight uppercase block">Andrea Skolková</span>
			<span class="font-light text-xxs md:text-xs tracking-tighter uppercase text-gray-500 block">Osobní trenér & marketingový specialista</span>
	  </a>
	  <div class="block lg:hidden">
				<button class="menu-toggle flex items-center p-3 rounded text-gray-900 bg-gray-200 text-green-500 hover:text-white-500" id="menu-toggle" aria-expanded="false">
					<span class="screen-reader-text">Menu</span>
					<svg class="fill-current h-4 w-4" aria-hidden="true" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100">
						<g class="svg-menu-toggle">
							<path class="line line-1" d="M5 13h90v14H5z"/>
							<path class="line line-2" d="M5 43h90v14H5z"/>
							<path class="line line-3" d="M5 73h90v14H5z"/>
						</g>
					</svg>
			</button>
	  </div>
	  <div class="w-full flex-grow-0 lg:flex lg:items-center lg:w-auto hidden" id="menu">
	    <div class="text-sm lg:flex-grow-0 lg:text-right">
			{% include navigation.html navigation=site.data.navigation %}
			<a href="/blog" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 mt-6 lg:mt-0 lg:ml-8 xl:ml-16 rounded inline-block">
					Blog
			</a>
	    </div>
	  </div>
	</nav>
</header>