---
layout: default
pagination:
  enabled: true
---
<section class="max-w-6xl mx-auto px-8 mb-8">
  <h1 class="text-center text-3xl">{{ page.title }}</h1>
</section>

<section class="max-w-6xl mx-auto p-8 bg-white rounded shadow mb-4">
  <main class="leading-normal">
    {{ content }}

    <h3>Posts</h3>

    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <p class="author">
        <span class="date">{{ post.date }}</span>
      </p>
      <div class="content">
        {{ post.content }}
      </div>
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
          Previous
        </a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>
  </main>
</section>