---
layout: default
---
<div class="w-full relative z-10 -mt-8 mb-8">
  <img src="https://lh3.googleusercontent.com/bQyHPQ5aJVOeI0JsGYKs7KET92o4ueokQ8WM8p_gXt-5MRABF83Sji4fg3AJzqbBIZveiw5x5wriCxy1xWebY3hbTFB9WG4Sl4wT04DRiJlhcixdFOZ956YaUYCNOdwFgkyE089XgnwaA1A88z0eltNoH-UPEUaceLEGtnyoa4JE2EzmGWtxJuESnDxpHnabZDoI6AxvOzAsDoZatLZ-Kb2pyMqzpk-mAPMoPquhXYk-b4Log2LVWSvwNy9Q3Ulhbhl57rMD6ljDXUE8VkyixQw0pZmSLMOmzRB_nFtjXuZ9PrJ4VINuiAW85AGVLklXr9G9JpBzFufkV7tzHsHwZnw1dw-NXFtXqwcVKwfuAHxOTxHaamj5xRNK-elpi61qGNjjAMRO0znLE_5O5ZVtnBkXmulmbv8MpI1xBsiDUb-exPbj5qNOvtdulwCg4RMc4ClHSWWHMus45L388TYpCD3KKdv2JZuIzzXYTL3-aytKRc4fahy981yOrWx-2ZTQUG14j7lRBNCcObATvncVt8wNXmLbwA8Wll7UXtQbuSClnhCzoP5xmL5gDXek5mwvhhwqADYBk4Xz1u9m_zaDX26XDQmgNm62TBR8t_7e5Or8qsQuWGTbBvZCNHQ3pmitIvJgMNVK829Hah1qf5tWHxXklOQEblQg=w2000" class="w-full h-full absolute pin-t pin-l object-cover">    
  <div class="w-full px-6 text-center py-24 z-10 relative bg-black-opacity-50">
    <h1 class="text-2xl md:text-4xl text-center text-grey-lightest mb-3 ">{{ page.title }}</h1>
    <p class="text-md md:text-lg text-center text-white ">Ut enim ad minim veniam, quis nostrud exercitation</p>
    <a href="/register" class="mt-6 rounded-full inline-block bg-white text-black no-underline px-6 py-4 shadow-lg">Find out more</a>
  </div>
  
</div>
<section class="max-w-3xl mx-auto px-8 mb-8">
  <h1 class="text-center">{{ page.title }}</h1>
</section>
<section class="mb-4 mx-4">
  <section class="font-sans container m-auto text-center pb-8">
    <hr class="border-b w-8 m-auto my-2">
    <div class="flex flex-wrap justify-between items-start max-w-2xl mx-auto">
      <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center p-4">
        <div class="w-14 h-14 rounded-full mr-4 bg-grey-light" alt=""></div>
        <h2 class="my-4 font-medium">Cras ornare tristique elit.</h2>
        <p class="leading-normal mb-4 mt-4 text-grey-dark">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
      </div>
      <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center p-4">
        <div class="w-14 h-14 rounded-full mr-4 bg-grey-light" alt=""></div>
        <h2 class="my-4 font-medium">Vivamus vestibulum ntulla nec ante.</h2>
        <p class="leading-normal mb-4 mt-4 text-grey-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center p-4">
        <div class="w-14 h-14 rounded-full mr-4 bg-grey-light" alt=""></div>
        <h2 class="my-4 font-medium">Praesent placerat risus quis eros.</h2>
        <p class="leading-normal mb-4 mt-4 text-grey-dark">Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
      </div>
    </div>
  </section>
  <section class="text-center -mb-6">
    <a href="/pages/contact/" class="inline-block bg-green hover:bg-green-dark text-white no-underline rounded-full px-6 py-4 shadow-lg">CTA button</a>
  </section>
  <main class="leading-normal max-w-lg mx-auto bg-white rounded shadow p-8 pt-12">
    {% include page-intro.html %}
    {{ content }}
  </main>
</section>

{% assign psize = site.posts | size %}
{% if psize != 0 %} 
  <section class="max-w-3xl mx-auto mb-4">
    <h2 class="font-normal text-center">Novinky</h2>
    <div class="md:flex">
      {% for post in site.posts limit:3 %}
      <div class="w-full md:w-1/3 p-4">
        <div class="rounded bg-white overflow-hidden shadow">
          <a href="{{ post.url }}" class="block relative aspect-ratio-16/9">
            <img class="w-full h-full absolute pin-t pin-l object-cover" src="{{ post.thumbnail }}" alt="{{ post.title }}">
          </a>
          <div class="px-8 py-6">
            <h3 class="font-bold text-xl mb-2"><a href="{{ post.url }}" class="block text-green hover:no-underline font-medium sm:text-lg mb-4">{{ post.title }}</a></h3>
            <p class="text-grey-darker text-base">
              {{ post.content | strip_html | strip_newlines | truncate: 156}}
            </p>
          </div>
          <div class="px-6 py-4">
            <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#photography</span>
            <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#travel</span>
            <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker">#winter</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</section>
{% endif %}
