/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
 @tailwind base;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
html{
	height: 100%;
}
h1{
	@apply font-light;
}
h2, h3, h4, h5, p{
	@apply mb-4;
	&:last-of-type{
		@apply mb-0;
	}
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.label-floating input:not(:placeholder-shown), .label-floating textarea:not(:placeholder-shown) {
	@apply pt-6;
}
.label-floating input:not(:placeholder-shown) ~ label, .label-floating textarea:not(:placeholder-shown) ~ label {
	font-size: 0.6rem;
	transition: all 0.2s ease-in-out;
}
.menu-toggle {
	font-size: 0.875em;
	padding: 1em;
	&:focus {
		outline: thin dotted;
		outline-offset: -2px;
	}
}
  
/* Animate menu icon (lines). */
.svg-menu-toggle .line {
	opacity: 1;
	transform: rotate(0) translateY(0) translateX(0);
	transform-origin: 1em 1em;
	transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
.svg-menu-toggle .line-1 {
	transform-origin: 1em 2.5em;
}
.svg-menu-toggle .line-3 {
	transform-origin: 1em 4.5em;
}

.menu-toggle.opened .svg-menu-toggle .line-1 {
	transform: rotate(45deg) translateY(0) translateX(0);
}
.menu-toggle.opened .svg-menu-toggle .line-2 {
	opacity: 0;
}
.menu-toggle.opened .svg-menu-toggle .line-3 {
	transform: rotate(-45deg) translateY(0em) translateX(0em);
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
